html {
    box-sizing: border-box;
    font-family: sans-serif, "Times New Roman";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    max-width: 1000px;
}

header,
footer {
    background-color: #1F2937;
}

footer {
    margin-top: auto;
    color: #E5E7EB;
    display: flex;
    height: 100px;
}

#footer-legal-text {
    margin: auto;
}

#quote-section {
    background-color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

nav,
#title-section,
.sign-up-section,
.white-container {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

#title-section {
    padding-top: 50px;
    padding-bottom: 60px;
    gap: 20px;
}

#title-image {
    background-color: gray;
    flex-shrink: 0;
    color: white;
    display: flex;
}

#title-image-text {
    margin: auto;
}

.high-level-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.box-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li {
    width: 160px;
}

.illustration {
    height: 160px;
    width: 160px;
    border-style: solid;
    border-width: 4px; /* what is going on here? border-width and border-top-width get overridden */
    border-color: #3882F6;
    border-radius: 10px;
    padding: 5px;
}

.box-description {
    text-align: center;
}

.sign-up-section {
    min-width: 800px;
}

.nav-link,
.hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

button,
.sign-up-section {
    background-color: #3882F6;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#quote-section {
    background-color: #E5E7EB;
    color: #1F2937;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

#quote-author {
    font-style: bold;
}

